*{
	box-sizing: border-box;
}

body {
	background-color: gray;
}

#menu{
	margin-bottom: 35px;
}
.

#header-nav{
	
	background-color: #303f44;
	border: 3px solid black;
	border-radius:0;
	min-height:70px;
}

.navbar-brand{
	margin-top: 15px;
}

.navbar-brand h1{
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
 }

button.navbar-toggle.collapsed{
  border-color: #000000;
  margin-top:15px;
}

ul{
	

}


p{
	padding:5px;
}

.section {
	
	background-color: #F0F8FF; 
	border: 1px solid black;   
	padding:5px;
	margin:10px;      
 }

.row{
	margin:10px;
}
