*{
	box-sizing: border-box;
}

body {
	background-color: gray;
}

#header-nav{
	color:blue;
	background-color: #303f44;
	border-bottom: 3px solid black;
}

.navbar-brand{
	padding-left: 10px;
}

p{
	padding:5px;
}

.section {
	
	background-color: #F0F8FF; 
	border: 1px solid black;   
	padding:5px;
	margin:10px;      
 }

.row{
	margin:10px;
}
